version: '3'

services:
  poll:
    build: ./poll
    ports:
      - "80:80"
    networks:
      - poll-tier
    depends_on:
      - redis

  redis:
    image: redis:7
    ports:
      - "6379:6379"
    networks:
      - poll-tier
      - back-tier

  worker:
    build: ./worker
    networks:
      - back-tier
    depends_on:
      - redis
      - db

  db:
    image: postgres:16
    environment:
      POSTGRES_PASSWORD: postgres
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./schema.sql:/docker-entrypoint-initdb.d/schema.sql
    networks:
      - back-tier
      - result-tier

  result:
    build: ./result
    ports:
      - "5001:80"
    networks:
      - result-tier
    depends_on:
      - db

networks:
  poll-tier:
  result-tier:
  back-tier:

volumes:
  db-data:
